{% extends 'layout.html' %}
	{% block title %}
		<title>Orbitus &bull; 404 Not Found</title>
	{% endblock title %}
	{% block navbar %}
	<div class="header animated fadeIn">
		Page Not Found
	</div>
	{% endblock navbar %}
	{% block content %}
	<div class="rect animated slideInUp">
		<div class="rect2" style="font-size: 30pt">
			<br><br><br>
			This page doesn't exist on our server. Sorry for that!
		</div>
	</div>
	{% endblock content %}
	{% block footer %}
	&copy; Copyright 2018 Orbitus Pvt. Ltd.
	{% endblock footer %}