{% extends 'layout.html' %}
	{% block title %}
		<title>Orbitus &bull; My Account</title>
	{% endblock title %}
	{% block navbar %}
	<div class="header animated fadeIn">
		My Account
		<div id="toggleIcon" onclick="toggle(this)">
			<div class="bar1"></div>
 			<div class="bar2"></div>
  			<div class="bar3"></div>
		</div>
		
		<nav id="menu" style="right: -200px;">
			<ul>
				<li id="l1" class="hvr-underline-from-left"><a href="dashboard"><i class="fa fa-home hvr-grow" aria-hidden="true"></i>   Dashboard</a></li>
				<li id="l2" class="hvr-underline-from-center"><a href="aboutus"><i class="fa fa-info-circle hvr-bob" aria-hidden="true"></i>   About</a></li><br>
				<li id="l3" class="hvr-underline-reveal"><a href="javascript:history.back()"><i class="fa fa-chevron-left hvr-grow-rotate" aria-hidden="true"></i>   Back</a></li>
			</ul>
		</nav>
	</div>
	{% endblock navbar %}
	{% block content %}
	<div class="rect animated slideInUp">
		<div class="rect2">
			
		</div>
	</div>
	{% endblock content %}
	{% block footer %}
	&copy; Copyright 2018 Orbitus Pvt. Ltd.
	{% endblock footer %}