{% extends 'layout.html' %}
	{% block title %}
		<title>Orbitus &bull; Home Page</title>
	{% endblock title %}
	{% block navbar %}
	<div class="header animated fadeIn">
		Login
		<div id="toggleIcon" onclick="toggle(this)">
			<div class="bar1"></div>
 			<div class="bar2"></div>
  			<div class="bar3"></div>
		</div>
		
		<nav id="menu" style="right: -200px;">
			<ul>
				<li id="l1" class="hvr-underline-from-left"><a href="#"><i class="fa fa-home hvr-grow" aria-hidden="true"></i>   Home</a></li>
				<!--li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
				Account</a></li-->
				<li id="l2" class="hvr-underline-from-center"><a href="aboutus"><i class="fa fa-info-circle hvr-bob" aria-hidden="true"></i>   About</a></li>
				<li id="l3" class="hvr-underline-reveal"><a href="signin"><i class="fa fa-sign-in hvr-wobble-bottom" aria-hidden="true"></i>   Sign In</a></li>
				<li id="l4" class="hvr-underline-from-right"><a href="signup"><i class="fa fa-user-plus hvr-wobble-bottom" aria-hidden="true"></i>   Sign Up</a></li>
			</ul>
		</nav>
	</div>
	{% endblock navbar %}
	{% block content %}
	<div class="rect animated slideInUp">
		<div class="rect2">
			<h1 class="headText animated slideInRight">Welcome</h1>
			<div class="rect3" style="max-height: 370px">
				<div class="animated slideInLeft delay-0.5s" style="height: 36vh;
																	width: 500px;
																	top: 6vh;
																	left: 8vw;
																	transform-origin: center;
																	position: absolute;
																	background-color: rgba(0, 0, 0, 0.0);
																	border-width: thin;
																	border-style: none;
																	border-color: #1E0731">
					<div class="bodyContent b1">
						Already have an account?
					</div><br><br><br><br>
					<div>
						<center>
						<button type="Button" onclick="redirect('signin')" class="hvr-fade" style="top: 16%;
																	  left: 0%; max-width: 400px">
							Sign In...
						</button>
						</center>
					</div>
					<div class="bodyContent b2">
						Or, care to sign up?
					</div><br>
					<div>
						<button type="Button" onclick="redirect('signup')" class="hvr-fade" style="top: 64%;
																	  left: 0%; max-width: 400px">
							Sign Up...
						</button>
					</div>
				</div>
			</div>
			<div>
					<button type="Button" onclick="PWA()" class="hvr-fade" style="top:80%;left:17.5%; max-width: 200px;font-size: 16px;">
						Add to Home Screen
					</button>
			</div>
		</div>
	</div>
	{% endblock content %}
	{% block footer %}
	&copy; Copyright 2018 Orbitus Pvt. Ltd.
	{% endblock footer %}