{% extends 'layout.html' %}
	{% block title %}
		<title>Orbitus &bull; Host an Event</title>
	{% endblock title %}
	{% block navbar %}
	<div class="header animated fadeIn">
		Host An Event
		<div id="toggleIcon" onclick="toggle(this)">
			<div class="bar1"></div>
 			<div class="bar2"></div>
  			<div class="bar3"></div>
		</div>
		
		<nav id="menu" style="right: -200px;">
			<ul>
				<li id="l1" class="hvr-underline-from-left"><a href="#"><i class="fa fa-home hvr-grow" aria-hidden="true"></i>   Home</a></li>
				<!--li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>
				Account</a></li-->
				<li id="l2" class="hvr-underline-from-center"><a href="aboutus"><i class="fa fa-info-circle hvr-bob" aria-hidden="true"></i>   About</a></li>
				<li id="l3" class="hvr-underline-reveal"><a href="signin"><i class="fa fa-sign-in hvr-wobble-bottom" aria-hidden="true"></i>   Sign In</a></li>
				<li id="l4" class="hvr-underline-from-right"><a href="signup"><i class="fa fa-user-plus hvr-wobble-bottom" aria-hidden="true"></i>   Sign Up</a></li>
			</ul>
		</nav>
	</div>
	{% endblock navbar %}
	{% block content %}
	<div class="rect animated slideInUp">
		<div class="rect2">
			<div class="hostevent">
							<form method="POST" action="">
								<div class="row">
									<div class="form-event col-md-9 col-lg-9 col-xs-9">
										{{form.hidden_tag()}}
										{{form.EventName.label(class="form-control-label")}}
										{% if form.EventName.errors %}
				     					   {{ form.EventName(class="form-control form-control-lg is-invalid") }}
				    						<div class="invalid-feedback">
				                			{% for error in form.EventName.errors %}
				                    			<span>{{ error }}</span>
				            				{% endfor %}
				    			        	</div>
					                    {% else %}
											{{form.EventName(class="form-control form-control-lg")}}
										{% endif %}
									</div>
								</div>
								<div class="row">
									<div class="col-md-12 col-lg-12 col-xs-12" style="max-width: 500px">
										{{form.Description.label(class="form-control-label")}}
										{% if form.Description.errors %}
				     					   {{ form.Description(class="form-control form-control-lg is-invalid") }}
				    						<div class="invalid-feedback">
				                			{% for error in form.Description.errors %}
				                    			<span>{{ error }}</span>
				            				{% endfor %}
				    			        	</div>
					                    {% else %}
											{{form.Description(class="form-control form-control-lg", cols="30", rows="5", style="border-color: rgb(0, 0, 0); transition: 200ms ease-in-out")}}
										{% endif %}
									</div>
								</div>
								<br>
								<div class="form-event">
									{{ form.Invite(class="btn btn-outline-info", style="max-width: 500px") }}
								</div>
							</form>
						</div>
					</div>
	{% endblock content %}
	{% block footer %}
	&copy; Copyright 2018 Orbitus Pvt. Ltd.
	{% endblock footer %}